:root {
    --extra-light-orange: rgb(255,142,0);
    --light-orange: rgb(255,127,2);
    --middle-orange: rgb(255,103,2);
    --bold-orange: rgb(255,85,27);
    --extra-bold-orange: rgb(229,72,25);
}